"\C-xa": alias-expand-line
TAB: menu-complete
set menu-complete-display-prefix on
set show-all-if-ambiguous on
set completion-ignore-case on

# Key bindings, up/down arrow searches through history
"\e[A": history-search-backward
"\e[B": history-search-forward
"\eOA": history-search-backward
"\eOB": history-search-forward

# Rebind clear screen from C-l as we use this for navigation
"\C-s": clear-screen

